<footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Matthew Casey Kwit</h5>
          <p class="grey-text text-lighten-4">There is more to data science then writing algorithms. I understand which questions can be answered, which tools should be applied, and how to effectively communicate the information to produce high quality usable results.</p>

        </div>
        <div class="col l3 s12">
          
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text valign-wrapper" href="mailto:mkwit+webpage@gmail.com?subject=WebPage Inquiry" ><i class="zmdi zmdi-email" style="margin: .5em 0 .5em 0"> Email </i></a></li>
            <li><a class="white-text valign-wrapper" href="https://linkedin.com/in/matthew-kwit"><i class="zmdi zmdi-linkedin-box" style="margin: .5em 0 .5em 0"> LinkedIn</i></a></li>
            <li><a class="white-text valign-wrapper" href="https://github.com/kwiter"><i class="zmdi zmdi-github" style="margin: .5em 0 .5em 0"> GitHub</i></a></li>
           
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
      &copy; <a class="brown-text text-lighten-3" href="http://kwiter.github.io">kwiter</a>
      </div>
    </div>
  </footer>