<div class="navbar-fixed">
  <nav class="grey lighten-5" role="navigation">
    <div class="nav-wrapper container" style="width:95%;">
      <a id="logo-container" href="{{base.url}}/index.html" class="brand-logo" style="height:inherit;"><!--<img style="height:75%;" src="{{base.url}}/images/logos/name.png"  alt="M.C.KWit">-->M.C.Kwit</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{base.url}}/index.html">Home</a></li>
        <!--<li><a href="{{base.url}}/about/">About</a></li>-->
        <li><a href="{{base.url}}/blog-home/">Blog</a></li>
        <li><a href="{{base.url}}/index.html#ContactUS">Contact</a></li>   
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="{{base.url}}/index.html">Home</a></li>
        <!--<li><a href="{{base.url}}/about/">About</a></li>-->
        <li><a href="{{base.url}}/blog-home/">Blog</a></li>
        <li><a href="{{base.url}}/index.html#ContactUS">Contact</a></li> 
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>