<div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="zmdi zmdi-share"> Share</i></a>
    <ul>
      <li><a href="https://twitter.com/intent/tweet?text={{page.title}} - {{page.summary}} at: {{site.blog_url}}{{page.url}}" target="_blank" class="btn-floating blue lighten-2"><i class="zmdi zmdi-twitter"> Twitter</i></a></li>
      <li><a href="https://facebook.com/sharer.php?u={{site.blog_url}}{{ page.url }}" target="_blank" class="btn-floating blue darken-4"><i class="zmdi zmdi-facebook"> Facebook</i></a></li>
      <li><a href="https://plus.google.com/share?url={{ site.blog_url }}{{ page.url }}" target="_blank"class="btn-floating red lighten-1"><i class="zmdi zmdi-google-plus"> Google+</i></a></li>
      <li><a href="http://www.reddit.com/submit?url={{ site.blog_url }}{{ page.url }}&title={{ page.title }}" target="_blank" class="btn-floating blue lighten-4"><i class="zmdi zmdi-reddit"> Reddit</i></a></li>
      <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.blog_url }}{{ page.url }}&title={{ page.title }}&summary={{ page.summary }}" target="_blank" class="btn-floating blue"><i class="zmdi zmdi-linkedin"> Linkedin</i></a></li>
      <li><a href="http://www.tumblr.com/share/link?url={{ site.blog_url }}{{ page.url }}&summary={{ page.title }}&description={{ page.summary }}" target="_blank" class="btn-floating" style="color: #32506d;"><i class="zmdi zmdi-tumblr"> Tumblr</i></a></li>
    </ul>
  </div>