
            <b>Ubiquitous Data</b>
            <p class="light">
                We are surrounded by data. It is consuming. I am into modeling, visualization, interactivity, scraping, storytelling. All things data.
            </p>
            <p class="light">
                This is dedicated to providing a forum to generate discussion on how data analysis can reveal insights about everything from pop culture to scientific discoveries. </p>
            <p class="light">
                Read these posts, share your thoughts, spread the word, collaborate - what should we explore next?
            </p>
         
