<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}   
</head>

<body>
    
<!-- NavBar -->    
{% include navBar.html %}
    
<!-- Banner -->
<div class="slider">
    <ul class="slides">
      <li>
        <img src="{{base.url}}/images/about/bg1.jpg"> <!-- random image -->
        <div class="caption center-align transparentBG">
          <h3>Data Scientist</h3>
          <h5 class="light grey-text text-lighten-3">Question, Clean, Analysis, Visualize, Communicate</h5>
        </div>
      </li>
      <li>
        <img src="{{base.url}}/images/about/bg2.jpg"> <!-- random image -->
        <div class="caption left-align transparentBG">
          <h3>Quantitative Ecologist</h3>
          <h5 class="light grey-text text-lighten-3">Natural patterns create messy interacting data</h5>
        </div>
      </li>
      <li>
        <img src="{{base.url}}/images/about/bg3.jpg"> <!-- random image -->
        <div class="caption right-align transparentBG">
          <h3>Data Visualization Expert</h3>
          <h5 class="light grey-text text-lighten-3">A picture is worth a thousand words and at least 10 tables</h5>
        </div>
      </li>
    </ul>
  </div>

<!-- Words 1 -->
    
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
                <p class="light">Currently, I am a Data Scientist for the $13 billion fortune 100 TJX companies.  While my current expertise ly in data analysis I pride myself in the my diversified experience. I have a PhD in quantitative ecology, an MS in geographer, and a BS in physics. I have held positions that range from zookeeper to chemical engineer, and have worked in environments as engineered as U.S. Steel in Gary, IN to working in the pristine landscape of Lake Superior Provincial Park in Northern Ontario. 
                 </p>
                
                <p class="light">Its not all about the data. It's also understanding the questions and communticating the results.  No matter how complex your business scenarios or questions, I have the expertise to deliver to unlock results and provide you with the key actions you need to suceed. </p>
         
        </div>
      </div>

    </div>
  </div>
    
<!-- Image -->

<!--   People   -->
    
  <div class="container">
    <div class="section">
        
        <div class="row center">
        <div class="col s12">   
          <h3>Me</h3>
        </div> 
        </div>
        <div class="divider"></div>
							
      <div class="row">
        <div class="offset-s3 col s6">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{base.url}}/images/about/mckwit.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Matthew Kwit<i class="material-icons right">more_vert</i></span>
                    <p>Data Scientist</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Matthew Kwit<i class="material-icons right">close</i></span>
                    <p>Trained as a Physicist, a Geographer, and an Ecologist, but fundamentally a Data Scientist. An 'R' guru who loves visualization, experimenting with new algorithms, and exploring every data source he can get his hands on. As a trained PhD level scientist my problem solving methodology focuses on testable questions with verifiable results.</p>
                </div>
            </div>
        </div>


      </div>

    </div>
  </div>    
 

    
<!-- Footer -->    
{% include footer.html %}


  <!--  Scripts-->
   {% include script.html %}
  <script>
    $(document).ready(function () {
        $('.slider').slider({full_width: true});
    });
  </script>
  </body>
</html>
